<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>

    <add name="connString" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1;server=119.74.140.245;Network Library=DBMSSOCN;Initial Catalog = User; User ID = sa; Password = p@ssw0rd123;Trusted_Connection = no;Integrated Security=False;column encryption setting=enabled;" />
    <add name="connString1" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1;server=119.74.140.245;Network Library=DBMSSOCN;Initial Catalog = UserFile; User ID = sa; Password = p@ssw0rd123;Trusted_Connection = no;Integrated Security=False;column encryption setting=enabled;" />
    <add name="connString2" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1;server=119.74.140.245;Network Library=DBMSSOCN;Initial Catalog = UserFile00; User ID = sa; Password = p@ssw0rd123;Trusted_Connection = no;Integrated Security=False;column encryption setting=enabled;" />
    <add name="connString3" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1;server=119.74.140.245;Network Library=DBMSSOCN;Initial Catalog = UserFile01; User ID = sa; Password = p@ssw0rd123;Trusted_Connection = no;Integrated Security=False;column encryption setting=enabled;" />

  </connectionStrings>
</configuration>
